
$primary :#FEC544;
$primary-dark :#268888;
$secondary:#F2F2F2;
$text-color:#404040;
$border-color:#B5B5B5;
$border-color-light:#b5b5b52b;
$background-color:#efefef;
$background-card:#efefef;
$green-color: #107740;
$blue-dark-color: #0F4A76;
$blue-color: #070A6E;
$purple-color: #67056F;
$red-color: #780218;
$input-color: #efefef;


$border-radius-desktop:32px;
$border-radius-item:100%;
$border-radius-card:16px;
$border-item: 3px solid #fff