/* @import './styles/_variables.scss'; */
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-multi-carousel/lib/styles.css';

/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */
@font-face {
  font-family: 'Jakarta';
  src: url('./assets/font/PlusJakartaSans[wght].ttf');
  /* font-weight: 400; */
  font-display: swap;
}


body * {
  font-family: 'Jakarta' !important;


}

body {
  background: #070B15;
  color: #FFFFFF !important;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.text-color {
  color: #a6a7ac;
}

.color-primary {
  color: #FEC544;
}

.title {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.title h1 {
  font-size: 32px;
  color: #FEC544;
  font-weight: 600;
  background-image: url('./assets/images/border-title.svg');
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  height: fit-content;

  padding: 0.7em;

}

.back-title {
  font-size: 90px;
  font-weight: 800;
  color: #23293529;
  position: absolute;
  bottom: -0.5em;
  left: 0;
  right: 0;
}

.mt-6 {
  margin-top: 6em;
}

.btn-primary {
  background-color: #FEC544;
  color: #111111;
  border-radius: 32px;
  padding: 0.5em 1em;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: auto;
}
.btn-primary:hover {
  background-color: #FEC544 !important;
  color: #111111 !important;
  
}
label {
  font-size: 16px;
  color: #FEC544;
}

a {
  text-decoration: none !important;
}

.form-control {
  background: transparent !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #232935 !important;
  border-radius: 0 !important;
  color: #fff !important;
}
.form-control:focus{
  box-shadow: none !important;
  /* border-bottom: 1px solid #FEC544 !important; */
}
.form-control:hover{
  box-shadow: none !important;
  border-bottom: 1px solid #FEC544 !important;
}


@media screen and (min-width: 1800px) {

  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

}

@media screen and (max-width: 1000px) {

  .back-title { 
    font-size: 50px !important;
  }
  .title{
    width: unset !important;
  }
 

}
@media screen and (max-width: 850px) {

 .row-reverse{
  flex-direction: column !important;
 }
 .flex-col-mobile{
  flex-direction: column;
}
.flex-col-revers-mobile{
  flex-direction: column-reverse;
}
}